@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Orbitron:wght@400..900&display=swap');

:root{
    --background_color_tab: white;
    --background_color: rgba(0, 0, 0, 0.1);
    --font_color: black;
    --font_color_h2: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--font_color)
}

body {
    background-color: var(--background_color);
    line-height: 1.6;
}

/* html { scroll-behavior: smooth; } */

header {
    position: sticky;
    top: 0;
    background-color: var(--background_color_tab);
    box-shadow: 0 2px 5px var(--background_color);
    padding: 10px 20px;
    z-index: 0;
}

#tab_page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.saudação{
    font-weight: 700;
    font-size: xx-large;
}

.tabs {
    display: flex;
    gap: 20px;
    list-style: none;
}

.tabs_itens a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    position: relative;
    transition: color 1s;
}

.tabs_itens a:hover {
    color: red;
}

.tabs_itens a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: red;
    transition: width 0.3s;
}

.tabs_itens a:hover::after {
    width: 100%;
}

.container{
    margin: 2px;
    border: solid black 1px;
    border-radius: .3em;
    background-color: var(--background_color);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

/* #sobre{width: 80%;} */
/* #contato{width: 40%;} */

section {
    padding: 20px;
}

section h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: var(--font_color_h2)
}

#trabalhos > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

details summary img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

img{
    width: 300px
}


@media (max-width: 768px) {
    #tab_page {
        flex-direction: column;
        gap: 10px;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    img{
        width: 70px;
    }
}
