@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Orbitron:wght@400..900&display=swap');

:root{
    --background_color_tab: white;
    --background_color: rgba(0, 0, 0, 0.1);
    --font_color: black;
    --font_color_h2: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--font_color)
}

body {
    background-color: var(--background_color);
    line-height: 1.6;
}

/* html { scroll-behavior: smooth; } */

header {
    position: sticky;
    top: 0;
    background-color: var(--background_color_tab);
    box-shadow: 0 2px 5px var(--background_color);
    padding: 10px 20px;
    z-index: 0;
}

#tab_page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.saudação{
    font-weight: 700;
    font-size: xx-large;
}

.tabs {
    display: flex;
    gap: 20px;
    list-style: none;
}

.tabs_itens a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    position: relative;
    transition: color 1s;
}

.tabs_itens a:hover {
    color: red;
}

.tabs_itens a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: red;
    transition: width 0.3s;
}

.tabs_itens a:hover::after {
    width: 100%;
}

.container{
    margin: 2px;
    border: solid black 1px;
    border-radius: .3em;
    background-color: var(--background_color);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

section {
    padding: 20px;
}

section h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: var(--font_color_h2)
}

#trabalhos > nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
}

details summary img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.img_front_BI {
    padding: 10px;
    display: grid;
    justify-items: center;
    text-align: center;
    border: solid black 1px;
    border-radius: 0.3em;
    border-collapse: collapse;
}

.img_front_BI img {
    width: 420px;
}

.img_front_BI:hover{
    cursor: pointer;
}

#sobre > .conteudo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    & p{
        margin: 10px;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-content {
    position: fixed;
    top: 2%;
    left: 13%; 
    /* transform: translate(-25%, -25%); */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 1080px;
    height: 720px;
}

.close-modal {
    margin-top: 10px;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
    right: 1%;
    top: 1%;
}


@media (max-width: 768px) {
    #tab_page {
        flex-direction: column;
        gap: 10px;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    img{
        width: 70px;
    }
}
